.layout {
  display: flex;
  align-items: flex-start;
}

.home {
  padding: 20px;
  width: 100%;
}

.home h1 {
  margin-bottom: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.home-page-content {
  width: 100%;
}